*::before{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
.nav-home li{
  list-style: none;
}
.nav-home a{
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.nav-home{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(0, 33, 65);
}
.nav-home .company{
  text-transform: uppercase;
}
.nav-home-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;
}
.nav-home-toggler{
  /* cursor: pointer; */
  display: none;
}
.nav-home-toggler div{
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.4s ease-in;
}

@media screen and (max-width: 768px){
  .nav-home-toggler{
    display: block;
    cursor: pointer;
  }
  .nav-home-menu{
    /* display: none; */
    position: fixed;
    top: 5vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translate(100%);
    transition: 0.5s ease-in;
  }
}
/* Nav Active Class */
.nav-home-active{
  transform: translate(0%);
}
/* Toggler  Icon Animation*/
.toggle .line1{
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-4px,-5px);
}