/* Navbar starts */

/* old */
/* .navbar-container {
  display: flex;
  justify-content: space-between;
  background: #dcd7d7;
  padding: 10px 15px;
}
.navbar-container a {
  margin: 0px 10px;
}
.navbar-container p {
  margin: 0;
}
.navbar-container div {
  display: flex;
  justify-content: space-between;
} */

/* new */
.nav_amcs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
  /* background-color: #023b96; */
  background-color: pink;
  display: flex;
  overflow-x: auto;
}

.nav__link_amcs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 25px;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 9px;
  color: black;
  /* color: #c9bbaa; */
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

/* .nav__link:hover{
  background-color: #3c84fb;
} */
.nav__link:hover {
  background-color: #5ba2f4;
}

.nav__link--active {
  background-color: #2196f3;
}

.nav__icon {
  height: 50%;
}

.overflow-y-auto {
  overflow-y: auto;
}

/* Home Navbar */

/* Navbar ends */